@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
  background: #F3F4F4;
}

h2 {
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  color: #383B3A;
}

hr {
  margin-bottom: 50px;
}

h3 {
  font-family: Roboto, Helvetica, sans-serif;
  color: #4B4F4E;
}

p {
  font-family: Roboto, Helvetica, sans-serif;
  color: #717776;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

a {
  color: #448AFF;
}

ul {
  margin: 0;
  padding: 0;
  width: 30%;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 50px;
}

li {
  background: white;
  border-radius: 4px;
  padding: 12px;
  list-style: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  color: #717776;
  margin-bottom: 8px;
}

li:nth-child(even) {
  color: #383B3A;
}


li:last-child {
  border-bottom: none;
}


table {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  background: #ffffff;
  border-radius: 4px;
  margin-left: 15px;
  border: 8px solid white;
  margin-top: 20px;
  margin-bottom: 50px;
}

table tbody tr:nth-child(odd) {
  background: #3E8DF6;
  color: #ffffff;
}

table tbody tr {
  text-align: center;
}